<?xml version="1.0"?>
<ruleset xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" name="Coding Standard for PHPCSUtils" xsi:noNamespaceSchemaLocation="./vendor/squizlabs/php_codesniffer/phpcs.xsd">
    <description>Check the code of the PHPCSUtils standard.</description>

    <!--
    #############################################################################
    COMMAND LINE ARGUMENTS
    https://github.com/PHPCSStandards/PHP_CodeSniffer/wiki/Annotated-Ruleset
    #############################################################################
    -->

    <file>.</file>

    <!-- Exclude PHPDoc structure files. -->
    <exclude-pattern>*/build/docs/structure/*</exclude-pattern>

    <!-- Exclude Composer vendor directory. -->
    <exclude-pattern>*/vendor/*</exclude-pattern>

    <!-- Only check PHP files. -->
    <arg name="extensions" value="php"/>

    <!-- Show progress, show the error codes for each message (source). -->
    <arg value="ps"/>

    <!-- Strip the filepaths down to the relevant bit. -->
    <arg name="basepath" value="./"/>

    <!-- Check up to 8 files simultaneously. -->
    <arg name="parallel" value="8"/>

    <!--
    #############################################################################
    USE THE PHPCSDev RULESET
    #############################################################################
    -->

    <rule ref="PHPCSDev">
        <!-- Only needed for PHPCS 3.x. This exclusion can be removed when PHPCSDevCS drops support for PHPCS 3.x. -->
        <exclude name="PSR12.Files.FileHeader.SpacingAfterBlock"/>
    </rule>

    <!-- Set minimum PHP version supported to PHP 5.4. -->
    <config name="testVersion" value="5.4-"/>


    <!--
    #############################################################################
    SNIFF SPECIFIC CONFIGURATION
    #############################################################################
    -->

    <rule ref="Generic.Files.LineLength">
        <properties>
            <property name="lineLimit" value="125" />
        </properties>
    </rule>


    <!--
    #############################################################################
    SELECTIVE EXCLUSIONS
    Exclude specific files for specific sniffs and/or exclude sub-groups in sniffs.
    #############################################################################
    -->

    <rule ref="PSR1.Files.SideEffects.FoundWithSymbols">
        <exclude-pattern>/phpcsutils-autoload\.php$</exclude-pattern>
        <exclude-pattern>/PHPCS23Utils/Sniffs/Load/LoadUtilsSniff\.php$</exclude-pattern>
        <exclude-pattern>/Tests/bootstrap\.php$</exclude-pattern>
    </rule>

    <!-- Double arrow alignment gets very fiddly with multi-line test data provider arrays. -->
    <rule ref="Squiz.Arrays.ArrayDeclaration.DoubleArrowNotAligned">
        <exclude-pattern>/Tests/*Test\.php$</exclude-pattern>
        <exclude-pattern>/Tests/*TestCase\.php$</exclude-pattern>
    </rule>

    <!-- Allow slightly different code style and file docblocks for classes imported from PHPCS. -->
    <rule ref="Generic.Files.LineLength.TooLong">
        <exclude-pattern>/PHPCSUtils/BackCompat/BCFile\.php$</exclude-pattern>
    </rule>
    <rule ref="Generic.Commenting.DocComment.TagsNotGrouped">
        <exclude-pattern>/PHPCSUtils/BackCompat/BCFile\.php$</exclude-pattern>
        <exclude-pattern>/Tests/BackCompat/BCFile/*Test\.php$</exclude-pattern>
    </rule>
    <rule ref="PEAR.Commenting.FileComment.AuthorTagOrder">
        <exclude-pattern>/PHPCSUtils/BackCompat/BCFile\.php$</exclude-pattern>
        <exclude-pattern>/Tests/BackCompat/BCFile/*Test\.php$</exclude-pattern>
    </rule>
    <rule ref="PEAR.Commenting.FileComment.CopyrightTagOrder">
        <exclude-pattern>/PHPCSUtils/BackCompat/BCFile\.php$</exclude-pattern>
        <exclude-pattern>/Tests/BackCompat/BCFile/*Test\.php$</exclude-pattern>
    </rule>
    <rule ref="PEAR.Commenting.FileComment.DuplicateLicenseTag">
        <exclude-pattern>/PHPCSUtils/BackCompat/BCFile\.php$</exclude-pattern>
        <exclude-pattern>/Tests/BackCompat/BCFile/*Test\.php$</exclude-pattern>
    </rule>
    <rule ref="PEAR.Commenting.FileComment.LicenseTagOrder">
        <exclude-pattern>/PHPCSUtils/BackCompat/BCFile\.php$</exclude-pattern>
        <exclude-pattern>/Tests/BackCompat/BCFile/*Test\.php$</exclude-pattern>
    </rule>
    <rule ref="PEAR.Commenting.FileComment.LinkTagOrder">
        <exclude-pattern>/PHPCSUtils/BackCompat/BCFile\.php$</exclude-pattern>
        <exclude-pattern>/Tests/BackCompat/BCFile/*Test\.php$</exclude-pattern>
    </rule>

    <!-- This is fine. -->
    <rule ref="PHPCompatibility.Attributes.NewAttributes.PHPUnitAttributeFound">
        <exclude-pattern>/PHPCSUtils/TestUtils/UtilityMethodTestCase\.php$</exclude-pattern>
    </rule>

    <!-- Disregard this rule in code which doesn't need to be tested (or is part of the test code itself). -->
    <rule ref="Universal.FunctionDeclarations.NoLongClosures.ExceedsMaximum">
        <exclude-pattern>/.github/GHPages/update-docgen-config\.php$</exclude-pattern>
        <exclude-pattern>/Tests/</exclude-pattern>
    </rule>

    <rule ref="Universal.Classes.RequireFinalClass">
        <!-- The BackCompat tests cannot be final as it is verified that the PHPCSUtils functionality
             mirrors the PHPCS native functionality by extending these tests and re-running them
             using the PHPCSUtils methods. -->
        <exclude-pattern>*/Tests/BackCompat/*Test\.php$</exclude-pattern>
        <exclude-pattern>*/Tests/*Mock\.php$</exclude-pattern>
        <exclude-pattern>*/Tests/*Double\.php$</exclude-pattern>
    </rule>

    <!-- Allow for return value from PassedParameters::getParameters() potentially having mixed keys. -->
    <rule ref="Universal.Arrays.MixedArrayKeyTypes">
        <exclude-pattern>/Tests/Utils/PassedParameters/GetParametersNamedTest\.php$</exclude-pattern>
    </rule>

</ruleset>
