<?xml version="1.0" encoding="UTF-8" ?>
<phpdoc>
    <title>PHPCSUtils</title>

    <files>
        <file>phpcsutils-autoload.php</file>
        <directory>PHPCSUtils</directory>
    </files>

    <parser>
        <target>build/docs/structure/</target>
    </parser>

    <transformer>
        <target>docs/phpdoc/</target>
    </transformer>

    <logging>
        <level>info</level>
    </logging>

</phpdoc>
