---
---

@import "{{ site.theme }}";

p, ul, ol, table, pre, #feature-list {
    margin:0 0 15px;
}

h1, h2 {
    margin-top: 1.5em;
}
header h1, h2#features {
    margin-top: 0em;
}

h2 {
    font-size:28px;
}
h3 {
    font-size: 18px;
}
h4 {
    font-size: 14px;
    margin-top: 1.5em;
}

blockquote{
    border-left:2px solid #e5e5e5;
    border-right:2px solid #e5e5e5;
    margin:5px 20px 20px 10px;
    padding:0 10px 0 20px;
}
blockquote p {
    margin:2px 0 8px;
}

p code {
    background:#f8f8f8;
    display:inline-block;
}

/* First section: feature list */
#feature-list h3 {
    font-size: 14px;
    color: #444;
    margin: 0;
    line-height: 1.5;
}

#feature-list p {
    margin:2px 0 8px 40px;
}

/* Packagist install code sample left column. */
header div.install {
    width: 90%;
}

header .install pre.highlight {
    padding: 6px 10px;
    text-align: center;
    font-size: 89%;
}

/* "Read the docs" button. */
.docs {
    box-shadow:inset 0px 1px 0px 0px #97c4fe;
    background:linear-gradient(to bottom, #3d94f6 5%, #1e62d0 100%);
    background-color:#267CB9;
    border-radius:6px;
    border:1px solid #337fed;
    display:inline-block;
    cursor:pointer;
    color:#ffffff;
    font-family:Arial;
    font-size:15px;
    font-weight:bold;
    padding:8px 24px;
    text-decoration:none;
    text-shadow:0px 1px 0px #1570cd;
}
.docs:hover {
    background:linear-gradient(to bottom, #1e62d0 5%, #3d94f6 100%);
    background-color:#1e62d0;
}
.docs:active {
    position:relative;
    top:1px;
}
.docs a {
    color: #ffffff;
}

/* FAQ */
.faq h3 {
    font-size: 18px;
    line-height: 1.1;
    margin-top: 0;
}

.faq h3::first-letter, .faq h3 + p::first-letter {
    color:#267CB9;
    font-weight: bold;
}

.twitter-share-button {
    font-size: 70%;
    margin: 0;
    padding-top: 1em;
}

.mastodon-share-button {
    font-size: 80%;
    margin: 0 1em 0 0;
}

.mastodon-share-button .btn {
    display: inline-block;
    text-align: center;
    vertical-align: middle;
    padding: .25em 1em;
    border-radius: 1rem;
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out;
    color: #ffffff;
    background-color: #007bff;
}
.mastodon-share-button .btn:before {
    content: url('data:image/svg+xml;charset=UTF-8,<svg style="color: blue" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512"><path d="M480,173.59c0-104.13-68.26-134.65-68.26-134.65C377.3,23.15,318.2,16.5,256.8,16h-1.51c-61.4.5-120.46,7.15-154.88,22.94,0,0-68.27,30.52-68.27,134.65,0,23.85-.46,52.35.29,82.59C34.91,358,51.11,458.37,145.32,483.29c43.43,11.49,80.73,13.89,110.76,12.24,54.47-3,85-19.42,85-19.42l-1.79-39.5s-38.93,12.27-82.64,10.77c-43.31-1.48-89-4.67-96-57.81a108.44,108.44,0,0,1-1-14.9,558.91,558.91,0,0,0,96.39,12.85c32.95,1.51,63.84-1.93,95.22-5.67,60.18-7.18,112.58-44.24,119.16-78.09C480.84,250.42,480,173.59,480,173.59ZM399.46,307.75h-50V185.38c0-25.8-10.86-38.89-32.58-38.89-24,0-36.06,15.53-36.06,46.24v67H231.16v-67c0-30.71-12-46.24-36.06-46.24-21.72,0-32.58,13.09-32.58,38.89V307.75h-50V181.67q0-38.65,19.75-61.39c13.6-15.15,31.4-22.92,53.51-22.92,25.58,0,44.95,9.82,57.75,29.48L256,147.69l12.45-20.85c12.81-19.66,32.17-29.48,57.75-29.48,22.11,0,39.91,7.77,53.51,22.92Q399.5,143,399.46,181.67Z" fill="white"></path></svg>');
}

#modal {
    clear: both;
    margin: 10px 0;
}

#modal #msb-share {
    text-align: center;
    vertical-align: middle;
    padding: .25em 1em;
    border-radius: 1rem;
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out;
    color: #ffffff;
    background-color: #007bff;
}

/* General space usage/layout */
.wrapper{
    width:100%;
}

header {
    width:28%;
}
section {
    width:60%;
    padding-right: 50px;
}

footer {
    width:28%;
    bottom:20px;
}
